@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif
}
.main {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bottom {
  position: sticky;
  bottom: 0;
  background: #ED7B7B;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  color: white;
}
i {
  cursor: pointer;
}